.card {
  display: inline-block;
  padding:1.5rem;
  background: #ecf0f1;
  color:#454545;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 368px;
  min-height: 368px;
  max-height: 368px;  
  margin:0 1rem 1rem;
  -webkit-animation: myDebt 0.2s; /* Chrome, Safari, Opera */
  animation: myDebt 0.2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myDebt {
  from {margin: 0 0 0;}
  to {margin:0 1rem 1rem;}
}

/* Standard syntax */
@keyframes myDebt {
  from {margin: 0 0 0;}
  to {margin:0 1rem 1rem;}
}

.pic {
  margin-top: 10px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 6px;
  box-shadow: 0 0 5px black;
}

.clouds-flat-button {
  margin-top: 10px;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
}
.clouds-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.clouds-flat-button:focus {
  outline: none;
}

.yellow-card {
  box-shadow: 0 0 35px red;
}

.red-card {
  box-shadow: 0 0 35px red; 
  box-shadow: 0 0 50px 15px red;
}