@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }

body { 
  background:#222;  
}

.card {
  display: inline-block;
  padding:1.5rem;
  background: #ecf0f1;
  color:#454545;
  width: 200px;
  max-width: 200px;
  height: 368px;
  max-height: 368px;  
  margin:0 1rem 1rem;
 
}

.pic {
  margin-top: 10px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 6px;
  box-shadow: 0 0 5px black;
}

.clouds-flat-button {
  margin-top: 10px;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
}
.clouds-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.clouds-flat-button:focus {
  outline: none;
}

#background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  z-index: 200;
}

.yellow-card {
  box-shadow: 0 0 35px red;
}

.red-card {
  box-shadow: 0 0 35px red; 
  box-shadow: 0 0 50px 15px red;
}